#rtd-footer-container {
  display: none;
}

blockquote.epigraph {
  background-color: var(--pst-color-surface);
  border-radius: 0.25rem;
}

@media (min-width: 960px) {
  label.sidebar-toggle.primary-toggle {
    display: none;
  }
}
